@charset "UTF-8";

@font-face {
  font-family: "ZCOOLKuaiLe-Regular";
  src: url("ZCOOLKuaiLe-Regular.woff2") format("woff2"),
    url("ZCOOLKuaiLe-Regular.woff") format("woff"),
    url("ZCOOLKuaiLe-Regular.ttf") format("truetype"),
    url("ZCOOLKuaiLe-Regular.eot") format("embedded-opentype"),
    url("ZCOOLKuaiLe-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}